In [1]:
import pandas as pd

listings = pd.read_csv("https://storage.googleapis.com/public-data-337819/listings%202%20reduced.csv",low_memory=False)

In [ ]:
listings.head()

In [2]:
listings_df=listings[['price','neighbourhood_cleansed','host_is_superhost']]

In [ ]:
listings_df.head()

In [ ]:
# What is the neighborhood in which 

# superhosts have the biggest median price 
# difference with respect to non superhosts? 
# Use the following three columns in the 'listings' dataset to answer this question: 'host_is_superhost', 'neighbourhood_cleansed', and 'price'.

In [3]:
listings_df['price']=listings_df['price'].str.replace('$','').str.replace(',','').astype(float)

C:\Users\LAXMAN\AppData\Local\Temp\ipykernel_5068\3921661578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['price']=listings_df['price'].str.replace('$','').str.replace(',','').astype(float)

In [4]:
non_super_host=listings_df[listings_df['host_is_superhost']=='f']

In [5]:
super_host=listings_df[listings_df['host_is_superhost']=='t']

In [ ]:
super_host

In [6]:
super_host_median_df=super_host.groupby(['neighbourhood_cleansed']).agg({'price':"median"}).reset_index()

In [7]:
non_super_host_median_df=non_super_host.groupby(['neighbourhood_cleansed']).agg({'price':"median"}).reset_index()

In [8]:
super_host_median_df.head()

  neighbourhood_cleansed  price
0   Barking and Dagenham   63.5
1                 Barnet  112.0
2                 Bexley   50.0
3                  Brent   85.0
4                Bromley   64.5

In [9]:
non_super_host_median_df.head()

  neighbourhood_cleansed  price
0   Barking and Dagenham   75.0
1                 Barnet   89.0
2                 Bexley   70.0
3                  Brent   91.0
4                Bromley   79.0

In [10]:
merged_df=pd.merge(super_host,non_super_host,how='left',on='neighbourhood_cleansed',suffixes=['_super','_nonsuper'])

In [11]:
merged_df.shape

(51221466, 5)

In [ ]:
merged_df.head()

In [12]:
merged_df['super_nonsuperdiff']=merged_df['price_super']-merged_df['price_nonsuper']

In [16]:
merged_df.head()

,price_super,neighbourhood_cleansed,host_is_superhost_super,price_nonsuper,host_is_superhost_nonsuper,super_nonsuperdiff
0,46.0,Greenwich,t,40.0,f,6.0
1,46.0,Greenwich,t,65.0,f,-19.0
2,46.0,Greenwich,t,100.0,f,-54.0
3,46.0,Greenwich,t,250.0,f,-204.0
4,46.0,Greenwich,t,150.0,f,-104.0

In [18]:
extracted_df=merged_df.sort_values(by='super_nonsuperdiff',ascending=False).head(1)

In [19]:
extracted_df

,price_super,neighbourhood_cleansed,host_is_superhost_super,price_nonsuper,host_is_superhost_nonsuper,super_nonsuperdiff
19982418,25000.0,Islington,t,1.0,f,24999.0